<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DbPassport" connectionString= "server=VTB\SQLSERVER;database=ChutHueManagement;uid=sa;pwd=Sql@dmin;" />
  </connectionStrings>

  <appSettings>
    <add key="providerType" value="SQL"/>
    <add key="logPath" value="log.txt"/>
  </appSettings>
</configuration>